<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<script>
document.createElement('article')
document.createElement('aside')
document.createElement('footer')
document.createElement('header')
document.createElement('nav')
document.createElement('section')
</script>
<style>
article, aside, footer, header, nav, section { display: block }
</style>
<title>Plan 9: カーネルコンフィグの種類</title>
<script src="/lib/jquery.js"></script>
<script src="/lib/decor.js"></script>
<script src="/plan9/lib/complex.js"></script>
<link rel="stylesheet" type="text/css" href="/plan9/lib/u.css">
<meta name="author" content="http://www.hatena.ne.jp/lufiabb/">
</head>
<body>
<header>
		<h1><a href="/plan9/">Plan 9</a></h1>
</header>
<nav>
	<section>
		<h1>メニュー</h1>
		<ul>
		<li><a href="/plan9/doc/inst/">インストール</a></li>
		<li><a href="/plan9/doc/guide/">システムの使い方</a></li>
		<li><a href="/plan9/doc/devel/">プログラミング</a></li>
		<li><a href="/plan9/doc/adm/">システム管理</a></li>
		<li><a href="/plan9/man/">自作ツール集</a></li>
		</ul>
	</section>
</nav>
<article>
	<section>
		<h1>カーネルコンフィグの種類</h1>
		<p class="revision">2014年2月22日作成</p>
		<p>Plan 9は標準でいくつかカーネルコンフィグを用意しています。
		コンフィグファイルは、Intel系CPUの場合、/sys/src/9/pc以下に置かれています。</p>
		<table>
		<tr><th>ファイル名</th><th>ファイルシステム</th><th>用途</th></tr>
		<tr><td>pcf</td><td>fossil</td><td>Plan 9端末</td></tr>
		<tr><td>pcdisk</td><td>kfs</td><td>Plan 9端末</td></tr>
		<tr><td>pc</td><td>-</td><td>ディスクレスPlan 9端末</td></tr>
		<tr><td>pccpuf</td><td>fossil</td><td>CPUサーバ</td></tr>
		<tr><td>pccpu</td><td>-</td><td>ディスクレスCPUサーバ</td></tr>
		<tr><td>pcauth</td><td>fossil</td><td>pccpufベースの認証サーバ</td></tr>
		<tr><td>pcfs</td><td>fossil</td><td>pccpufベースの単体ファイルサーバ</td></tr>
		<tr><td>pccd</td><td>kfs</td><td>インストーラ用</td></tr>
		<tr><td>pcflop</td><td>kfs</td><td>フロッピー版インストーラ?</td></tr>
		</table>
		<p>pcfsは、ファイルサービスをするだけのカーネルみたいでした。
		pccpufとpcfsの主な違いは、ざっくり以下の2点です。</p>
		<ul>
		<li>pcfsは管理に必要なコマンド類を全てカーネルに埋め込む</li>
		<li>pcfsは各種設定を環境変数から取得する</li>
		</ul>
		<p>サーバの運用にディスクを必要としなくなるため、
		fsカーネルに近い運用形態になるのではないでしょうか。</p>
	</section>
</article>
<aside>
	<section>
		<h1>参考ページ</h1>
		<ul>
		<li><a href="http://plan9.bell-labs.com/wiki/plan9/compiling_kernels/index.html">Compiling kernels</a></li>
		</ul>
	</section>
</aside>
<footer>
	<p>見れない、表示がおかしい場合は、動作環境を添えて<a href="mailto:webmaster@lufia.org">webmaster@lufia.org</a>まで連絡ください。</p>
</footer>
</body>
</html>
