---
import "../styles/global.css";
const pageTitle = "lufia.org";
---
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{pageTitle}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="author" content="http://www.hatena.ne.jp/lufiabb/">
</head>
<body>
<slot />
</body>
</html>
