name: Deploy

on:
  push:
    branches:
    - main
concurrency:
  group: pages
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: lufia/setup-plan9port@151766c60eb37fae334741ced086cdfb107d40cf # v3.0.0
      with:
        environment: ubuntu-latest
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        repository: lufia/contrib
        path: .contrib
    - name: install wf
      run: |
        cd .contrib/src/cmd/wf
        mk -f mkfile.unix install
      shell: rc {0}
    - name: install mapsvg
      run: |
        cd .contrib/src/games
        install -m 755 mapsvg $PLAN9/bin
        sed -i '1c #!'^$PLAN9^'/bin/rc' $PLAN9/bin/mapsvg
      shell: rc {0}

    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '22.x'
    - uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      with:
        static_site_generator: next
    - name: build static files
      run: |
        mkdir -p dist
        touch dist/.nojekyll
        npm install
        npm run build
    - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      with:
        path: dist

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
      id: deployment
